[submodule "ttm-telematics-linux-telematics-apps-na"]
	path = lta
	url = git@github.com:PeopleNet/ttm-telematics-linux-telematics-apps-na.git
	branch = develop
[submodule "vehicle-telematics-platform"]
	path = vtp
	url = git@github.com:PeopleNet/vehicle-telematics-platform.git
[submodule "ttm-telematics-core-vtp"]
	path = core_vtp
	url = git@github.com:PeopleNet/ttm-telematics-core-vtp.git
	branch = develop
[submodule "embedded_test_automation"]
	path = test_framework
	url = git@github.com:PeopleNet/embedded_test_automation.git
	branch = main
[submodule "psvi-analytics"]
	path = psvi-analytics
	url = git@github.com:PeopleNet/psvi-analytics.git
	branch = main
