[submodule "ttm-telematics-linux-telematics-apps-na"]
	path = ttm-telematics-linux-telematics-apps-na
	url = git@github.com:PeopleNet/ttm-telematics-linux-telematics-apps-na.git
	branch = develop
[submodule "vehicle-telematics-platform"]
	path = vehicle-telematics-platform
	url = git@github.com:PeopleNet/vehicle-telematics-platform.git
[submodule "ttm-telematics-core-vtp"]
	path = ttm-telematics-core-vtp
	url = git@github.com:PeopleNet/ttm-telematics-core-vtp.git
	branch = develop
[submodule "psvi-device-settings"]
	path = psvi-device-settings
	url = git@github.com:PeopleNet/psvi-device-settings.git
	branch = main
[submodule "embedded_test_automation"]
	path = embedded_test_automation
	url = git@github.com:PeopleNet/embedded_test_automation.git
	branch = main
[submodule "can_scripts"]
	path = can_scripts
	url = git@github.com:PeopleNet/can_scripts.git
	branch = main
[submodule "psvi-analytics"]
	path = psvi-analytics
	url = git@github.com:PeopleNet/psvi-analytics.git
	branch = main
[submodule "utils"]
	path = utils
	url = git@github.com:emanuel036/utils.git
	branch = main
